target/
.bsp/
.metals/
.idea/
*.class
*.jar

__pycache__/
*.pyc
*.pth
*.pkl
venv/
.env

data/watches/images/
data/watches/metadata.csv

preprocessed/
embeddings/
output/
*.npy
*.parquet

.vscode/

.DS_Store